body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.app {
    font-family: "Outfit", serif;
}

.clip-path {
    clip-path: polygon(0 100%, 100% 100%, 100% 70%, 0 40%);
    opacity: 0.6;
}